h1{
  color: white;
  font-style: none;
  font-size: 100px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Lucida Console", "Courier New", monospace;
  letter-spacing: -5px;
}
body{
  background-color: #e97171;
  text-align: center;
}
img{
  background-color: #810000;
  border-radius: 0%;
    margin-top: 2rem;
}
p{
  color: white;
  font-style: none;
font-family: "Times New Roman", Times, serif;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Lucida Console", "Courier New", monospace;
}